# --- Arquivos Python e ambientes ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# --- Build / distribuição ---
build/
dist/
develop-eggs/
downloads/
*.egg-info/
.eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
wheels/
target/
.Python
MANIFEST

# --- Logs, testes e caches ---
*.log
*.pid
*.seed
*.pid.lock
.cache/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.dmypy.json
.pytype/
.pyre/
htmlcov/
nosetests.xml
coverage.xml
*.cover

# --- Notebooks ---
.ipynb_checkpoints/

# --- IDEs e editores ---
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# --- Dados e modelos (IGNORAR COMPLETAMENTE) ---
data/raw/
data/processed/
models/
notebooks/
# --- Arquivos numpy e pandas ---
*.npy
*.npz
*.csv

# --- Outros ---
.env
.envrc
.pdm-python
.pdm-build/
.ruff_cache/
.sphinx/
.pybuilder/
docs/_build/
.abstra/
.cursorignore
.cursorindexingignore
marimo/_static/
marimo/_lsp/
__marimo__/

exoplanet_model.pth
